__pycache__/
.DS_Store
.env
backend/.python-version
backend/app/
backend/poetry.lock
backend/src/app/database.db
backend/venv
frontend/build/
frontend/dist/
frontend/node_modules
frontend/package-lock.json
