/* Import Carbon base styles (Grid, Type, etc.) */
@import "carbon-components-svelte/css/all.css";

/* Global reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  font-family: "IBM Plex Sans", Arial, sans-serif;
  background: linear-gradient(180deg, #FFFFFF 50%, #EDF5FF 100%);
}

.buttons-container {
  display: flex;
  justify-content: end;
  gap: 0.5rem;
}

.buttons-container .bx--btn {
  min-width: 160px;
  width: fit-content;
  padding-right: 15px;
}

.button-with-ai-label-container {
  display: flex;
  gap: 0.25rem;
}

.bx--btn--field {
  min-width: 160px;
  width: fit-content;
  padding-right: 12px;
}

.bx--modal .bx--file__selected-file {
  background-color: var(--cds-field-02);
}

.bx--search .search-fixed-width {
  width: 350px;
}

.back-button {
  padding: 3px !important;
}

.checkbox {
  flex: unset;
  width: max-content;
  margin: 0 !important;
}

.checkbox .bx--checkbox-label {
  padding-top: 0;
  min-height: unset;
}

.checkbox .bx--checkbox-label::before {
  top: 0;
  margin-top: 1px;
  margin-bottom: 1px;
}

.checkbox .bx--checkbox-label::after {
  top: .3rem;
}

.checkbox .bx--checkbox-label-text {
  line-height: 1.125rem;
  height: 1.125rem;
}

.link {
  cursor: pointer;
}
